body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.Header{
    font-size: 20px;
    font-weight: 600 !important;
    color: #FF6B82;
    margin-top: 39px;
    width: 343px;
    height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.Header::before,
.Header::after {
      content: "";
      flex: 1;
      border-bottom: 0.9px solid #C8C8C8;
    }
    .Header:not(:empty)::before {
      margin-right: 10px;
    }
    .Header:not(:empty)::after {
      margin-left: 10px;
    }

.card_container{
    height: 364px;
}

.cards{
    border: 0.9px solid #C8C8C8;
    width: 341px;
    margin-bottom: 20px;
}

.card{
    display: flex;
    box-sizing: border-box;
    align-items: center;
    padding:15px 0px 15px 0px;
}

.radio{
    display: flex;
    align-items: center;
    margin-left: 22px;
    accent-color: #FF6B82;
}

input[type="radio"] {
    width: 15px;
    height: 15px;
}

.details{
    flex: 1;
    margin-left: 12px;
    font-family: 14px;
}

.offer{
    background-color: #FF6B82;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 6px;
    margin-left: 8px;
}

.rate{
    margin-right: 22px;
}

.old_rate{
    color: gray;
    text-decoration: line-through;
    font-size: 14px;
}

.fd_total{
    display: flex;
    justify-content:space-between;
    width: 343px;
}

.fd{
    color: #FF6B82;
}

.btn{
    width: 342px;
    height: 40px;
    margin-top: 20px;
}

button{
    width: 100%;
    height: 100%;
    background-color: #FF6B82;
    color: white ;
    cursor: pointer;
}

.pumper{
    color: grey;
    display: flex;
    justify-content: end;
    width: 342px;
    margin-top: 5px;
}

.dropdowns{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
    padding: 10px;   
}

.dropdown-group {
    display: flex;
    align-items: center;
    gap: 12px;
}

.dropdown-group div {
    display: flex;
    flex-direction: column;
}

.label{
    margin-bottom:3px;
}

.size,.color{
    width: 65px;
}


.xtra{
    display: none;
}

.cards.visible{
    background-color: #FFF9FA;
}

.cards.visible .xtra{
    display: block;
}













